<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=PC_de_Leo\SQLEXPRESS;Initial Catalog=bdd_ticketing_harry_poter;Integrated Security=True;Encrypt=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>